<div id="careers">
	<div id="careerAbt">
		<h1>Careers</h1>
		<p>With the markets we serve expanding at a rapid pace, Comprehensive Technical Group is always looking for knowledgeable, talented, and innovative people to join our team. We believe that people are our company’s greatest asset, which is why we provide our team with the tools necessary to meet and exceed their goals. If you are experienced, driven, and eager for a challenging and rewarding career, we would like to hear from you.</p>
	</div>
	<hr>
	<div class="careerClass" id="careerOptions">
		<h1>Manager,IT</h1>
		<h4>Role and Responsibilities</h4>
		<ul>
			<li>Maintain the technology stack standards and selection process for end user devices and eco-system for hosted clients including CTG corporate IT.</li>
			<li>Maintain the technology stack standards and selection process for end user devices and eco-system for hosted clients including CTG corporate IT.</li>
			<li>Maintain the technology stack standards and selection process for end user devices and eco-system for hosted clients including CTG corporate IT.</li>
		</ul>
		<button>Download Job Description</button>
	</div>
	<hr>
	<div class="careerClass" id="careerOptions">
		<h1>Audio Visual</h1>
		<h4>Role and Responsibilities</h4>
		<ul>
			<li>Maintain the technology stack standards and selection process for end user devices and eco-system for hosted clients including CTG corporate IT.</li>
			<li>Maintain the technology stack standards and selection process for end user devices and eco-system for hosted clients including CTG corporate IT.</li>
			<li>Maintain the technology stack standards and selection process for end user devices and eco-system for hosted clients including CTG corporate IT.</li>
		</ul>
		<button>Download Job Description</button>
	</div>
	<hr>
	<div class="careerClass" id="careerOptions">
		<h1>Design Engineer</h1>
		<h4>Role and Responsibilities</h4>
		<ul>
			<li>Maintain the technology stack standards and selection process for end user devices and eco-system for hosted clients including CTG corporate IT.</li>
			<li>Maintain the technology stack standards and selection process for end user devices and eco-system for hosted clients including CTG corporate IT.</li>
			<li>Maintain the technology stack standards and selection process for end user devices and eco-system for hosted clients including CTG corporate IT.</li>
		</ul>
		<button>Download Job Description</button>
	</div>

</div>