<div id="contact">
	<h1>Contact</h1>
	<div id="subContact">
		<p>At CTG, our success comes from the ability to consistently provide our clients with industry leading media, audio/visual, and IT solutions, unmatched customer service, and over 25 years of expertise. Find out how CTG can take your business to the next level, and connect with us today.</p>
	</div>

	<div id="info">
		<div id="address">
			<p>RT 9 </p>
			<p>Manalapan, NJ</p>
			<p><span id="phone">Main:</span>555-555-5555</p>
			<p><span id="email">Email:</span>info@tpc.com</p>
		</div>

		<div >
			<img id="map" src="/images/map.png">
		</div>

	</div>
	
</div>

