<div id="about">
	<h1>Our Difference</h1>
	<img id="diff" src="/images/difference.jpg">
	
	<div id="abtSub">
		<h2>About TPC</h2>
	<p>Since 1991, has been an established leader in the design and implementation of integrated technical solutions across the United States. We ensure that our clients only receive the utmost in professionalism, service, and expertise, further strengthened by our affiliation with Professional Systems Network International (PSNI), an international alliance of premier audio/visual systems integrators.</p>

	<p>In addition to being up-to-date on the latest equipment, training, and resources,  is always looking for new ways to help our customers achieve their vision in audio/visual, media, and entertainment for the best value. This is what makes our commitment to our clients unlike anything else in the industry. Whether you are a small studio or a large production facility, can provide everything you need for your project and integration services.</p>
	</div>
</div>