<div id="body">
	<div id="backgroundBig">
		<img id="background" src="/images/nasa.jpg">
	</div>

	<div id="solutions">
		<h1>Our Markets</h1>
		
		<div id="lv" class="sol">
			<a href="/markets#lowVoltage"><img  class="img" src="/images/voltage.jpg"></a>
			<p>In today’s world, using technology to enhance security is paramount. That’s why we place a lot of value in our ability to provide skilled Access Control &amp; CCTV technicians. We truly are a one-stop-shop when it comes to providing the valuable skilled labor needed for complete integrations.</p>
			<form action="/markets#lowVoltage">
				<input class="marketLink" type="submit" value="Low Voltage">
			</form>
		</div>

		<div id="av" class="sol">
			<a href="/markets#audioVisual"><img class="img" src="/images/room.jpg"></a>
			<p>For the past 10 years TPC has been a leader and pioneer in providing specialized personnel for the Pro AV Industry. Our business model has since expanded to include the ability to provide temporary or “contingent” technicians for our clients. Our technicians are almost always local to job sites – so we eliminate the need to spend money on extensive travel or lodging. Our technicians are qualified – we do our best to provide techs that match very closely to our clients’ job specs.</p>
			<form action="/markets#audioVisual">
				<input class="marketLink" type="submit" value="Audio Visual">
			</form>
		</div>
		
		<div id="it" class="sol">
			<a href="/markets#informationTech"><img  class="img" src="/images/support.jpg"></a>
			<p>In the Pro Av Industry we often hear that “The gap is bridging between IT &amp; AV”. In our world, the gap has already closed. We offer our clients a full suite of IT personnel. We are a one-stop-shop when it comes to system integration. There is no longer a need to look in different places in order to secure the talented people needed to complete a full project.</p>
			<form action="/markets#informationTech">
				<input class="marketLink" type="submit" value="Information Technology">
			</form>
		</div>
		
	</div>

	<div id="subLogo">
		<h1>Go Further Start Here</h1>
	</div>

	<div id="apply">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<form action="/apply">
			<input id="appSubmit" type="submit" value="Career Opportunities At TPC">
		</form>
	</div>
</div>

