<div id="markets">
	<div id="subMarket">
		<h1>Markets</h1>
		<img id="marketPic" src="/images/markets.jpg">
		<div id="marketAbt">
			<p>At  we are a true technology partner. Each client has a unique vision, and it is our job to make that vision come to life, from small studios to large sports arenas. Our integrated solutions are not only technical design and installation, but consulting and support, providing a complete production experience.</p>
			<p>“Our company is filled with creatives and engineers. Many of us have worked in the production industry most of our lives. We don’t just install equipment and plug it in. We know why it’s there and what it does. We truly love what we do.” James Beattie, Computer Services Supervisor</p>
		</div>
	</div>

	<div id="marketsList">
		<div class="market" id="broad">
			<img src="/images/broad.jpg">
			<h4>Broadcast</h4>
			<p>Broadcasting leaves little room for mistakes, and recognizes that providing the latest equipment and design while delivering seamless on-air transition is critical to the success of the station.</p>
		</div>

		<div class="market" id="ministries">
			<img src="/images/ministries.jpg">
			<h4>Ministries</h4>
			<p>Modern churches use a variety of media to communicate with their congregation, from video production upgrades to wireless technology to sound systems, and provides solutions for all of these needs.</p>
		</div>

		<div class="market" id="sports">
			<img src="/images/sports.jpg">
			<h4>Sports</h4>
			<p>In order to reach thousands, you have to have a partner that understands designing and integrating efficient installations for public display areas, customer suites, on-time completion, remote production, and more. </p>
		</div>

		<div class="market" id="cinema">
			<img src="/images/cinema.jpg">
			<h4>Cinema</h4>
			<p>In order to reach thousands, you have to have a partner that understands designing and integrating efficient installations for public display areas, customer suites, on-time completion, remote production, and more. </p>
		</div>
	</div>
</div>