<div id="hiringSolutions">
	<div id="contSolutions">
		<h1>contingent</h1>
		<p>This option allows our clients to request local and readily available technicians who can assist on any installation. Technicians can be “booked” for the duration of an installation, or single-day service call. This option affords the highest amount of flexibility.</p>
	</div>

	<div id="tempSolutions">
		<h1>Temp-to-Perm</h1>
		<p>This option allows our clients to hire a technician directly after a period of time. Although there is an additional cost involved, it allows our clients to hire talent directly if need be.</p>
	</div>

	<div id="dirSolutions">
		<h1>Direct Hire</h1>
		<p>This option is best for positions that are not related to a single install. It allows our clients to leverage our connections within the industry in order to source, vet, and hire the most passive talent on the market.</p>
	</div>
</div>