<div id="hiringSolutions">
	<div id="lowVoltage">
		<h1>Low Voltage</h1>
	</div>

	<div id="audioVisual">
		<h1>Audio/Visual</h1>
	</div>

	<div id="informationTech">
		<h1>Information Technology</h1>
	</div>
</div>