#navbar{
	width: 100%;
	padding-bottom: 25px;
	display: inline-block;
	border: 3px solid black;
}

#logo{
	border-radius: 10%;
	height: 100px;
}

.img{
	border-radius: 50px;
	margin-bottom: 5px;
}

#lv{
	width: 305px;
	margin-left: 10px;
	margin-right: 10px;
}

#av{
	width: 305px;
	margin-left: 10px;
	margin-right: 10px;
}

#it{
	width: 305px;
	margin-left: 10px;
	margin-right: 10px;
}

#subLogo{
	width: 100%;
	height: 50px;
	text-align: center;
	background-image: linear-gradient(to right, gray, white);
	margin-top: -21px;
}



#solutions{
	width: 100%;
	height: 100%;
	background-color: lightgray;
	text-align: center;
	margin-bottom: 20px;
}

.sol{
	display: inline-block;
	text-align: center;
	
	
}
#apply{
	width: 750px;
	margin: 0 auto;
	text-align: center;
	font-size: 18px;
	line-height: 2em;

}


#appSubmit{
	width: 450px;
	height: 30px;
	background-color: lightblue;
	font-size: 18px;
	border-radius: 12px;
}


.marketLink{
	font-size: 20px;
	font-weight: bold;
}

/* ~~~~~DIFFERENCE~~~~~~~~ */

#diff{
	width: 100%;
}

#about{
	width: 75%;
	height: 100%;
	margin: 0 auto;
	font-size: 17px;
	line-height: 1.5em;
}

#abtSub{
	width: 75%;
	margin: 0 auto;
}

/* ~~~~~~~MARKETS~~~~~~~~~~~~ */
#markets{
	width: 100%;
	background-color: pink;
}

#lowVoltage{
	width: 50%;
	height: 100%;
	margin: 0 auto;
	margin-top: 10px;
	border: 1px solid black;
}

#audioVisual{
	width: 50%;
	height: 100%;
	margin: 0 auto;
	margin-top: 10px;
	border: 1px solid black;
}

#informationTech{
	width: 50%;
	height: 100%;
	margin: 0 auto;
	margin-top: 10px;
	border: 1px solid black;
}



/* ~~~~~~~~~SOLUTIONS~~~~~~~~~~~ */
#hiringSolutions{
	width: 100%;
	height: 100%;
	text-align: center;
	border: 1px solid black;

}
#contSolutions{
	width: 30%;
	display: inline-block;
	height: 500px;
	background-color: green;
	margin: 0 auto;
}

#tempSolutions{
	width: 30%;
	display: inline-block;
	height: 500px;
	background-color: lightblue;
	margin: 0 auto;
}

#dirSolutions{
	width: 30%;
	display: inline-block;
	height: 500px;
	background-color: red;
	margin: 0 auto;
}


/* ~~~~~~~~~~CAREERS~~~~~~~~~~~~~~~ */
#careers{
	width: 100%;
	border: 1px solid black;
	margin: 0 auto;
}

#careerAbt{
	width: 75%;
	font-size: 17px;
	line-height: 1.5em;
	text-align: center;
	border: 1px solid blue;
	margin: 0 auto;
}

.careerClass{
	width: 75%;
	margin: 0 auto;
}

/* ~~~~~~~~~~CONTACT~~~~~~~~~~~~~ */
#contact{
	width: 100%;
	background-color: pink;
}

#subContact{
	width: 50%;
	margin: 0 auto;
}

#info{
	border: 2px solid black;
	width: 75%;
	height: 100%;
	margin: 0 auto;
}

#address{
	width: 450px;
	border: 1px solid blue;
}

#map{
	width: 450px;
	border: 1px solid blue;
	padding: 5px 5px 5px 5px;
}




#email, #phone{
	font-weight: bold;
}

/* ~~~~~~~~~~FOOTER~~~~~~~~~~~~~~~ */
.content{
	min-height: calc(100vh -70px);
}

.footer {
	margin-top: 25px;
	height: 100px;
	width: 100%;
	background-color:  green;
	text-align: center;

}

hr{
	width: 75%;
	height: 3px;
	background-color: lightgray;
}